
# Python cache & temp files
__pycache__/
*.pyc
.venv/
.ipynb_checkpoints/

# Data
data/raw/
data/tmp/
results/figures/*.pdf
models/*.joblib

# Secrets & system files
github*.rtf
*.token
*.secret
.DS_Store

# Colab metadata
*.zip
